.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #a6adb9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#react-particle-line-canvas {
  z-index: -1;
}